<app-question-update>

</app-question-update>

<div class="toolbar"><button (click)="deleteQuestion(questionId)">Deletar Questão</button></div>

<div class="question-view">
    <h2>{{ question.questionTitle }}</h2>

    <div class="details">
        <div class="area-discipline">
            <div class="area">
                <p>{{ getAreaName(question.areaOfKnowledge) }}</p>
            </div>
            <div class="discipline">
                <p>{{ question.discipline }}</p>
            </div>
        </div>
        <div class="content">
            <p>{{ question.content }}</p>
        </div>
    </div>
    <div class="question-body">
        <div [innerHTML]="sanitizeHtml(question.statement)"></div>
        <div class="answer">
            <span><strong>Resposta:</strong> {{ question.answer }}</span>
        </div>
    </div>
    <div class="solution">
        <h3>Solução da Questão</h3>
        <div [innerHTML]="sanitizeHtml(question.solution)"></div>
    </div>
</div>
